// Simple Express web server.
// @see http://howtonode.org/getting-started-with-express

// Load the express module.
var express = require('express');
var mysql      = require('mysql');
var connection = mysql.createConnection({
  host     : '192.168.0.103',
  user     : 'ansible',
  password : 'ansible',
  database : 'poc-base'
});
var app = express();

connection.connect(function(err){
if(!err) {
    console.log("Database is connected ... nn");    
} else {
    console.log("Error connecting database ... nn");    
}
});

// Respond to requests for / with 'Hello World'.
app.get('/', function(req, res){
    connection.query('SELECT * from user', function(err, results, fields) {


      if (err) throw err;
      
      var output = '<html><head></head><body><h1>Hello World! I am {{ inventory_hostname }}</h1><ul><table border=1><tr>';
      
      for (var index in fields) {
        output += '<td>' + fields[index].name + '</td>';
      }
      
      output += '</tr>';
      
      for (var index in results) {
        output += '<tr><td>' + results[index].id + '</td>';
        output += '<td>' + results[index].nom + '</td>';
        output += '<td>' + results[index].prenom + '</td>';
        output += '<td>' + results[index].groupe + '</td></tr>';
      }
      
      output += '</ul></body></html>';
 
      connection.end();
      
      res.writeHead(200, {'Content-Type': 'text/html'});
      res.end(output);
      
      });
});

// Listen on port 80 (like a true web server).
app.listen(80);
console.log('Express server started successfully.');
